In [86]:
import numpy as np
import pandas as pd
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       36 non-null     object
 1   Sport Type    36 non-null     object
 2   Athlete Name  36 non-null     object
 3   Height(cm)    36 non-null     int64
 4   Weight(kg)    36 non-null     int64
 5   Wins          36 non-null     int64
 6   Olympic Date  36 non-null     object
dtypes: int64(3), object(4)
memory usage: 2.1+ KB

In [258]:
df

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

In [24]:
#◊¢◊ë◊ï◊® ◊õ◊ú ◊¢◊†◊£ ◊°◊§◊ï◊®◊ò- ◊î◊¶◊í ◊ê◊™ ◊î◊û◊©◊ß◊ú ◊î◊†◊û◊ï◊ö ◊ë◊ô◊ï◊™◊® , ◊î◊í◊ï◊ë◊î ◊î◊û◊ß◊°◊ô◊û◊ú◊ô ◊ï◊û◊°' ◊î◊ñ◊õ◊ô◊ï◊™ ◊î◊û◊ß◊°◊ô◊û◊ú◊ô◊ï◊™
groups_types = df.groupby('Sport Type').agg({
    'Weight(kg)': 'min',
    'Height(cm)': 'max',
    'Wins':'max'}).rename(columns={'Weight(kg)': 'min_Weight(kg)', 'Height(cm)': 'max_Height(cm)', 'Wins': 'max_Wins'}).reset_index()
groups_types

        Sport Type  min_Weight(kg)  max_Height(cm)  max_Wins
0       Basketball              96             216         3
1          Cycling              68             186         5
2       Gymnastics              45             160         5
3           Soccer              57             187         3
4         Swimming              58             200         5
5           Tennis              70             188         4
6  Track and Field              57             195         6

In [190]:
df.set_index('Sport Type').groupby('Sport Type', group_keys=False).apply(lambda x: x.nlargest(2, 'Height(cm)')) .reset_index()

,Sport Type,Country,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,Basketball,USA,Shaquille O'Neal,216,147,1,22/08/2000
1,Basketball,USA,Kevin Durant,208,109,3,10/08/2016
2,Cycling,Slovenia,Primoz Roglic,186,68,3,05/08/2016
3,Cycling,Slovenia,Tadej Pogacar,184,69,3,11/08/2020
4,Gymnastics,USA,Aly Raisman,160,52,3,10/08/2012
5,Gymnastics,USA,Shawn Johnson,157,50,3,15/08/2008
6,Soccer,Portugal,Cristiano Ronaldo,187,83,2,25/08/2008
7,Soccer,France,Zinedine Zidane,185,80,3,17/08/1998
8,Swimming,China,Sun Yang,200,90,3,08/08/2012
9,Swimming,Australia,Ian Thorpe,196,85,4,11/08/2000
10,Tennis,Serbia,Novak Djokovic,188,84,4,10/08/2020
11,Tennis,Switzerland,Roger Federer,185,85,2,28/07/2008
12,Track and Field,Jamaica,Usain Bolt,195,94,6,22/08/2012
13,Track and Field,USA,Carl Lewis,188,81,4,15/08/1984

In [314]:
groups=df.groupby(['Sport Type','Country'])
groups.max().loc['Soccer','USA']
groups.max().xs(level='Sport Type',key ='Soccer')
df[df['Sport Type'].isin(['Tennis','Soccer'])].groupby(['Sport Type','Country']).max()
groups.max().swaplevel().sort_values(by=['Sport Type','Country'])

height_wins_stat=groups.agg({
    'Height(cm)': ['min','max','mean','std'],
    'Wins':['min','max','mean','std']})
height_wins_stat[('Height(cm)', 'std')]=height_wins_stat[('Height(cm)', 'std')].fillna(0)
height_wins_stat[('Wins', 'std')]=height_wins_stat[('Wins', 'std')].fillna(0)
height_wins_stat

                            Height(cm)                             Wins      \
                                   min  max        mean        std  min max
Sport Type      Country
Basketball      USA                198  216  205.200000   7.563068    1   3
Cycling         Belgium            181  181  181.000000   0.000000    5   5
                Netherlands        175  175  175.000000   0.000000    4   4
                Slovenia           184  186  185.000000   1.414214    3   3
                UK                 180  183  181.500000   2.121320    4   4
Gymnastics      Romania            155  155  155.000000   0.000000    5   5
                USA                142  160  152.250000   8.015610    3   5
Soccer          Argentina          170  170  170.000000   0.000000    2   2
                Brazil             163  174  168.500000   7.778175    3   3
                France             185  185  185.000000   0.000000    3   3
                Portugal           187  187  187.000000   0.000000    2   2
                USA                168  168  168.000000   0.000000    2   2
Swimming        Australia          196  196  196.000000   0.000000    4   4
                China              200  200  200.000000   0.000000    3   3
                USA                180  193  188.000000   7.000000    3   5
Tennis          Serbia             188  188  188.000000   0.000000    4   4
                Spain              185  185  185.000000   0.000000    3   3
                Switzerland        185  185  185.000000   0.000000    2   2
                USA                175  175  175.000000   0.000000    4   4
Track and Field Jamaica            195  195  195.000000   0.000000    6   6
                UK                 176  176  176.000000   0.000000    5   5
                USA                165  188  179.333333  12.503333    3   4


                                 mean      std
Sport Type      Country
Basketball      USA          2.200000  0.83666
Cycling         Belgium      5.000000  0.00000
                Netherlands  4.000000  0.00000
                Slovenia     3.000000  0.00000
                UK           4.000000  0.00000
Gymnastics      Romania      5.000000  0.00000
                USA          3.500000  1.00000
Soccer          Argentina    2.000000  0.00000
                Brazil       3.000000  0.00000
                France       3.000000  0.00000
                Portugal     2.000000  0.00000
                USA          2.000000  0.00000
Swimming        Australia    4.000000  0.00000
                China        3.000000  0.00000
                USA          4.000000  1.00000
Tennis          Serbia       4.000000  0.00000
                Spain        3.000000  0.00000
                Switzerland  2.000000  0.00000
                USA          4.000000  0.00000
Track and Field Jamaica      6.000000  0.00000
                UK           5.000000  0.00000
                USA          3.666667  0.57735

In [358]:
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] })
new_rows
concat_df=pd.concat([df,new_rows]).reset_index(drop=True)
concat_df

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
36,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
37,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

In [364]:
athletes_smoking_df = pd.read_csv("athletes_smoking.csv")
athletes_smoking_df
pd.merge(df,athletes_smoking_df)
pd.merge(df,athletes_smoking_df,how='outer')

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Gymnastics,Aly Raisman,160.0,52.0,3.0,10/08/2012,NaN
1,Netherlands,Cycling,Anna van der Breggen,175.0,68.0,4.0,10/08/2020,NaN
2,USA,Track and Field,Ashton Eaton,185.0,77.0,3.0,08/08/2016,NaN
3,USA,Swimming,Caeleb Dressel,191.0,88.0,3.0,06/08/2016,NaN
4,USA,Track and Field,Carl Lewis,188.0,81.0,4.0,15/08/1984,Yes
5,UK,Cycling,Chris Froome,180.0,70.0,4.0,08/08/2012,NaN
6,Portugal,Soccer,Cristiano Ronaldo,187.0,83.0,2.0,25/08/2008,No
7,Belgium,Cycling,Eddy Merckx,181.0,72.0,5.0,15/08/1980,NaN
8,USA,Track and Field,Florence Griffith,165.0,57.0,4.0,18/08/1988,NaN
9,USA,Gymnastics,Gabby Douglas,150.0,45.0,3.0,11/08/2016,NaN
10,UK,Cycling,Geraint Thomas,183.0,71.0,4.0,08/08/2008,NaN
11,Australia,Swimming,Ian Thorpe,196.0,85.0,4.0,11/08/2000,No
12,USA,Swimming,Katie Ledecky,180.0,58.0,4.0,25/08/2012,NaN
13,USA,Basketball,Kevin Durant,208.0,109.0,3.0,10/08/2016,No
14,USA,Basketball,Kobe Bryant,198.0,96.0,2.0,24/08/2012,Yes
15,USA,Basketball,LeBron James,206.0,113.0,2.0,15/08/2008,No
16,NaN,NaN,Lindsey Vonn,NaN,NaN,NaN,NaN,No
17,Argentina,Soccer,Lionel Messi,170.0,69.0,2.0,11/08/2016,Yes
18,Brazil,Soccer,Marta,163.0,57.0,3.0,01/08/2004,NaN
19,USA,Soccer,Megan Rapinoe,168.0,62.0,2.0,05/08/2020,No
20,USA,Basketball,Michael Jordan,198.0,98.0,3.0,08/08/1992,No
21,USA,Swimming,Michael Phelps,193.0,88.0,5.0,16/08/2004,NaN
22,UK,Track and Field,Mo Farah,176.0,65.0,5.0,05/08/2016,NaN
23,Romania,Gymnastics,Nadia Comaneci,155.0,50.0,5.0,18/08/1976,NaN
24,Serbia,Tennis,Novak Djokovic,188.0,84.0,4.0,10/08/2020,NaN
25,Brazil,Soccer,Pel√©,174.0,72.0,3.0,18/08/1970,NaN
26,Slovenia,Cycling,Primoz Roglic,186.0,68.0,3.0,05/08/2016,NaN
27,Spain,Tennis,Rafael Nadal,185.0,85.0,3.0,05/08/2016,No
28,Switzerland,Tennis,Roger Federer,185.0,85.0,2.0,28/07/2008,NaN
29,USA,Tennis,Serena Williams,175.0,70.0,4.0,01/08/2012,NaN
30,USA,Basketball,Shaquille O'Neal,216.0,147.0,1.0,22/08/2000,No
31,USA,Gymnastics,Shawn Johnson,157.0,50.0,3.0,15/08/2008,NaN
32,USA,Gymnastics,Simone Biles,142.0,48.0,5.0,05/08/2016,No
33,China,Swimming,Sun Yang,200.0,90.0,3.0,08/08/2012,NaN
34,Slovenia,Cycling,Tadej Pogacar,184.0,69.0,3.0,11/08/2020,NaN
35,Jamaica,Track and Field,Usain Bolt,195.0,94.0,6.0,22/08/2012,No
36,NaN,NaN,Wayne Gretzky,NaN,NaN,NaN,NaN,Yes
37,France,Soccer,Zinedine Zidane,185.0,80.0,3.0,17/08/1998,NaN